fastapi==0.115.0
uvicorn[standard]==0.30.0
jinja2==3.1.4
pydantic==2.9.2
pydantic-settings==2.5.2
sqlalchemy==2.0.34
PyMySQL==1.1.1
python-dotenv==1.0.1

# 打包用
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2025.1

